/* Button colors gredient  #2b8c13c1, #18c23d, #1ed760 */
/* main color theme #1ed760  */



* {
    margin: 0;
    padding: 0;
}


body {

    font-family: 'Ubuntu', sans-serif, Tahoma, Verdana, sans-serif;

    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #092003, #3a8b19, #44c95c);


}

button{
    cursor: pointer;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#171717;
    border-radius: 15px; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#242424; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
  

/* Home page */
.home {
    display: flex;
    height: 90vh;

}


/* left conainer*/
.homeleft {
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;

}

.home-left-header {
    width: 24vw;
    padding: 15px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.home-left-header ul li {
    
    display: flex;
    list-style: none;
    
    padding: 5px;
    
}

.home-left-header ul button img{
    width: 16px;
    margin-right: 3px;
    
}
.home-left-header ul button{
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.home-left-header ul button:hover{
    
    border-color: #1ed760;
    
}


.homeleft img {
    filter: invert();

}



.home-left-main {
    width: 24vw;
    height: 68vh;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
   
}

.home-left-main img {
    width: 20px;
}


.library {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.library .libraryimage{
    padding: 5px;
}

.library .libraryimage:hover{
    background-color: #242424;
    border-radius: 10px;
}
.home-left-main h3{
    margin-left: 20px;
}

.mysongs{
    background-color: #242424;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: 30vh;
}

.mysongs li{
    display: flex;
    gap: 15px;
    height: 25px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    list-style: none;
    margin: 5px;
    background-color: #171717;
    cursor: pointer;
}
.mysongs li:hover{
    background-color: #242424;
    border: 2px solid #171717;
}
.mysongs .songname{
    width: 170px;
    overflow: hidden;
}

.createplaylist button {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: -10px;
    font-weight: bold;
    cursor: pointer;
}

.createplaylist button:hover {
    background: linear-gradient(45deg, #2b8c13c1, #18c23d, #1ed760);
    transform: scale(1.1);
    transition: 0.25s ease all;
}

.home-left-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
   
}
.home-left-footer .link{
    color: gray;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.home-left-footer .link:hover{
    background-color: #242424;
    border-radius: 15px;
    color: white;
    
}

.copyright{
    color: gray;
    
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.home-left-main .language button {
    background-color: black;
    border: 1px solid gray;
    padding: 10px;
    color: white;
    font-weight: 700;
    display: flex;
    gap: 5px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;

}
.home-left-main .language button:hover{
    
    border-color: #1ed760;
}


.home-left-main .language button img {
    width: 16px;
}


.premium {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
    height: 8.5vh;
    background: linear-gradient(to right, #058fb9, #ffff1c);
    margin-top: 10px;
    position: fixed;

}

.premium button {
    background-color: white;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 16px;
}
.premium button:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}
/*right container*/

.homeright {
    width: 75vw;
    height: 90vh;

    margin-right: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.home-right-header {
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-right-header .slider img {
    width: 25px;
}

.home-right-header button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    margin: 10px;
    cursor: pointer;
}

.home-right-header .rightslider img {
    transform: rotateY(0.5turn);
}

.home-right-header .signup {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
}

.home-right-header .signup:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}

.home-right-header .login {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
}
.home-right-header .login:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}

.home-right-main {
    height: 81.5vh;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    overflow: auto;
}

/* artist */
.home-right-main {
    padding: 60px 20px 20px 20px;
}

.home-right-main .artists {
    display: flex;
    overflow: hidden;

    margin-top: 10px;
    padding: 10px;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    

}

.home-right-main .artists .cards {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
    background-color: #171717;
    border-radius: 10px;
    position: relative;
}
.home-right-main .artists .cards:hover{
    background-color: #242424;
    transform: scale(1.05);
    transition: 0.25s ease all;
}

.home-right-main .artists .cards .imgplay{
    width: 45px;
    position: absolute;
    right: 16px;
    bottom: 90px;
    background-color:#171717;
    
    border-radius: 50%;
}
.home-right-main .artists .cards .cardimage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #1ed760;
    box-shadow: 0px 0px 15px 15px #171717;



}

.home-right-main .artists .cards .cardimage img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    bottom: 0;
    position: relative;
}

.home-right-main .artists .cards h5 {
    color: gray;
}

.home-right-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.home-right-footer .links {
    display: flex;
    gap: 100px;
}



.home-right-footer .links li {
    list-style: none;
    padding-top: 10px;
    color: gray;
    font-weight: bolder;
}

.home-right-footer .social {
    display: flex;
    gap: 20px;
    padding: 20px;
    

}

.home-right-footer .link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.home-right-footer img {

    filter: invert();
}

.homeright .music-player{
        height: 10vh;
        width: 74vw;
        display: flex;
        justify-content: center;
        align-items: center;
       background-color: black;
        position:sticky;
        bottom: 10.5vh;
        gap: 40px;
        border-radius: 15px;
}
.homeright .music-player button{

    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.homeright .music-player button:hover{
    
    border: 2px solid #1ed760;
    transition: 0.5s ease;
}
.homeright .music-player img{
    width: 30px;
}


