/* Button colors gredient  #2b8c13c1, #18c23d, #1ed760 */
/* main color theme #1ed760  */



* {
    margin: 0;
    padding: 0;
}


body {

    font-family: 'Ubuntu', sans-serif, Tahoma, Verdana, sans-serif;

    color: rgb(255, 255, 255);
    background: linear-gradient(45deg, #092003, #3a8b19, #44c95c);


}

button{
    cursor: pointer;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#171717;
    border-radius: 15px; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#242424; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
  

/* Home page */
.home {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
    justify-content: center;
   

}


/* left conainer*/
.homeleft {
    width: 25vw;
    height: 90vh;
    box-sizing: border-box;

}

.home-left-header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.home-left-header .cross{
    width: 30px;
    background-color:#c3c3c3;
    border-radius: 50%;
    display: none;
}

.home-left-header ul li {
    
    display: flex;
    list-style: none;
    
    padding: 5px;
    
}

.home-left-header ul button img{
    width: 16px;
    margin-right: 3px;
    
}
.home-left-header ul button{
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.home-left-header ul button:hover{
    
    border-color: #1ed760;
    
}


.homeleft img {
    filter: invert();

}



.home-left-main {
    width: 95%;
    height: 68vh;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
   
}

.home-left-main img {
    width: 20px;
}


.library {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

.library .libraryimage{
    padding: 5px;
}

.library .libraryimage:hover{
    background-color: #242424;
    border-radius: 10px;
}
.home-left-main h3{
    margin-left: 20px;
}

.mysongs{
    background-color: #242424;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    height: 30vh;
}

.mysongs li{
    display: flex;
    gap: 15px;
    height: 25px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    list-style: none;
    margin: 5px;
    background-color: #171717;
    cursor: pointer;
}
.mysongs li:hover{
    background-color: #242424;
    border: 2px solid #171717;
}
.mysongs .songname{
    width: 170px;
    overflow: hidden;
}
.mysongs img{
    width: 40px;
}
.createplaylist button {
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    margin: -10px;
    font-weight: bold;
    cursor: pointer;
}

.createplaylist button:hover {
    background: linear-gradient(45deg, #2b8c13c1, #18c23d, #1ed760);
    transform: scale(1.1);
    transition: 0.25s ease all;
}

.home-left-footer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 15px;
    overflow: auto;
   
}
.home-left-footer .link{
    color: gray;
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.home-left-footer .link:hover{
    background-color: #242424;
    border-radius: 15px;
    color: white;
    
}

.copyright{
    color: gray;
    
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
}

.home-left-main .language button {
    background-color: black;
    border: 1px solid gray;
    padding: 10px;
    color: white;
    font-weight: 700;
    display: flex;
    gap: 5px;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;

}
.home-left-main .language button:hover{
    
    border-color: #1ed760;
}


.home-left-main .language button img {
    width: 16px;
}


.premium {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 5px;
    box-sizing: border-box;
    bottom: 0;
    background: linear-gradient(to right, #058fb9, #ffff1c);
  
    overflow: hidden;
    font-size: 0.8em;

}

.premium button {
    background-color: white;
    border-radius: 50px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: 12px;
}
.premium button:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}
/*right container*/

.homeright {
    width: 75vw;
    height: 90vh;
    
    margin-right: 5px;
    border-radius: 10px;
    box-sizing: border-box;
}

.home-right-header {
    height: 8vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.home-right-header .headericon{
   
    display: none;
}

.home-right-header .slider img {
    width: 25px;
}

.home-right-header button {
    width: 25px;
    height: 25px;
    background: none;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.home-right-header .rightslider img {
    transform: rotateY(0.5turn);
}

.home-right-header .signup {
    width: 80px;
    height: 45px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
    border: 2px solid black;
}

.home-right-header .signup:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}

.home-right-header .login {
    width: 80px;
    height: 45px;
    background-color: white;
    color: black;
    border-radius: 50px;
    font-weight: bold;
    font-size: 16px;
}
.home-right-header .login:hover{
    background-color: black;
    color: white;
    border: 2px solid #1ed760;
    transform: scale(1.1)  ;
    transition: 0.25s ease all;
}
/* artist */
.home-right-main {
    height: 75.5vh;
    width: 74vw;
    box-sizing: border-box;
    background-color: black;
    border-radius: 10px;
    overflow: auto;
    padding: 60px 20px 20px 20px;
}




.home-right-main .artists {
    display: flex;
    overflow: hidden;

    margin-top: 10px;
    padding: 10px;
    position: relative;
    gap: 20px;
    flex-wrap: wrap;
    

}

.home-right-main .artists .cards {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
    background-color: #171717;
    border-radius: 10px;
    position: relative;
}
.home-right-main .artists .cards:hover{
    background-color: #242424;
    transform: scale(1.05);
    transition: 0.25s ease all;
}

.home-right-main .artists .cards .imgplay{
    width: 45px;
    position: absolute;
    right: 16px;
    bottom: 90px;
    background-color:#171717;
    
    border-radius: 50%;
}
.home-right-main .artists .cards .cardimage {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #1ed760;
    box-shadow: 0px 0px 15px 15px #171717;



}

.home-right-main .artists .cards .cardimage img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    bottom: 0;
    position: relative;
}

.home-right-main .artists .cards h5 {
    color: gray;
}

.home-right-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}

.home-right-footer .links {
    display: flex;
    gap: 100px;
}



.home-right-footer .links li {
    list-style: none;
    padding-top: 10px;
    color: gray;
    font-weight: bolder;
}

.home-right-footer .social {
    display: flex;
    gap: 20px;
    padding: 20px;
    

}

.home-right-footer .link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.home-right-footer img {

    filter: invert();
}
.homeright .playbar{
    
        width: 74vw;
       z-index: 3;
       position: absolute;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: black;
}
.homeright .playbar .seekbar-container{
    width: 74vw;
    height: 3px;
    cursor: pointer;
    border: 2px solid black;
    background-color: #1ed760;
    display: flex;
    align-items: center;
}
.homeright .playbar .seekbar-container:hover
{
    height: 8px;
    background-color:#242424;
    transition: 0.25s ease all;
}
.homeright .playbar .seekbar-container .seekbar{
   width: 15px;
   height: 15px;
   
   border-radius: 50%;
    background-color: #1ed760;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: inset  -2px -2px 4px 4px #000000c7;
}


.homeright .playbar .icons-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
    
}
.homeright .music-player{
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        
}
.homeright .playbar .songinfo{
    width: 300px;
    height: 15px;
   display: flex;
  
   justify-content: center;
   align-items: center;
    font-size: 0.8em;
    overflow: hidden;
}

.homeright .playbar .songtime{
    width: 300px;
    height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8em;
  
}
.homeright .music-player button{

    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.homeright .music-player button:hover{
    
    border: 2px solid #1ed760;
    transition: 0.5s ease;
}
.homeright .music-player img{
    width: 20px;
}




@media (max-width: 1210px){
    .homeleft{
        position: absolute;
        left: -120%;
        transition: 0.25s ease all;
         width: 350px;
         z-index: 2;
         
         
        
    }


    .homeleft .home-left-main{
        overflow: auto;
        height: 50vh;
    }

    .homeright{
        width: 90vw;
        
        
    }
    .homeright .home-right-main{
        width: 97vw;
        height: 68vh;
        overflow-x: hidden;
        padding: 10px;
    }
    .homeright .home-right-main .artists{
        justify-content: center;
    
    }

    .homeright .playbar{
        width: 97vw;
    }

    .homeright .playbar .seekbar-container{
        width: 97vw;
    }
    .home-right-header .headericon{
        
        display: block;
    }
    .premium{
        position: relative;
    }
    .homeleft{
        height: 83vh;
    }
    .home-left-main{
        height: 60vh;
        padding-bottom: 20px;
    }
    .home-right-footer{
        flex-direction: column;
        gap: 50px;
        margin: 10px;
    }
    .home-right-footer .links{
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    }

    .home-left-header .cross{
        display: block;
    }

    
.homeright .playbar .icons-info{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
    
}
.homeright .music-player{
        
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
}
.homeright .playbar .songinfo{
    width: 300px;
    height: 15px;
   display: flex;
   padding: 3px;
   justify-content: center;
   align-items: center;
   
    overflow: hidden;
}

.homeright .playbar .songtime{
    width: 60px;
  
    height: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.homeright .music-player button{

    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
}